.custom-canvas {
    display: block;
    width: 100vw;
    height: 100vh !important;
  }
  
  .homepage-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
  }
  
  .popup {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(8px);
    transition: opacity 0.5s ease-in-out, background 1s ease-in-out;
    animation: grainFadeIn 1.5s ease-in-out forwards;
    max-width: 200px;
  }
  
  .popup::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/asfalt-dark.png');
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;
    border-radius: 15px;
  }
  
  .popup:hover {
    background: rgba(54, 51, 51, 0.9);
  }
  
  .popup:hover::before {
    animation: disperse 1.5s ease-in-out forwards;
  }
  
  .popup-content {
    text-align: center;
    position: relative;
  }
  
  .popup-content p {
    margin: 0;
    font-size: 18px;
    color: rgba(3, 2, 2, 0.9);
    opacity: 0;
    animation: grainFadeIn 2s ease-in-out forwards;
    transition: color 1s ease-in-out;
  }
  
  .popup:hover .popup-content p {
    color: rgba(255, 255, 255, 0.9);
  }
  
  .popup-content button {
    margin-top: 15px;
    padding: 10px 20px;
    /* background-color: #007BFF; */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    opacity: 0;
    animation: grainFadeIn 2.5s ease-in-out forwards;
  }
  
  /* .popup-content button:hover {
    background-color: #0056b3;
  } */
  
  @keyframes grainFadeIn {
    0% {
        opacity: 0;
        filter: brightness(0) contrast(0);
    }
    50% {
        opacity: 0.5;
        filter: brightness(0.5) contrast(1.5);
    }
    100% {
        opacity: 1;
        filter: brightness(1) contrast(1);
    }
  }
  
  @keyframes disperse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3) translateY(-20px);
        opacity: 0;
    }
  }
  
  
  .reinitialisation {
    position: fixed; 
    top: 20px;  
    right: 20px; 
    padding: 10px 20px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10; 
  }