/* src/Components/Home/HomeOverlay/parts/styles/Background.css */

/* ===============================
   BACKGROUND TRACK (swipe, no fade)
   =============================== */

   .homeOverlay__bgViewport{
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
  
    transform: translateZ(0);
    will-change: transform;
  }
  
  .homeOverlay__bgTrack{
    display: flex;
    width: 200vw;
    height: 100%;
  
    transform: translateZ(0);
    will-change: transform;
    /* transition: transform 900ms cubic-bezier(0.16, 1, 0.3, 1); */
    transition: transform 1500ms cubic-bezier(0.12, 0.9, 0.18, 1);

  }
  
  .homeOverlay__bgTrack.isInstant{
    transition: none !important;
  }
  
  .homeOverlay__bgFrame{
    flex: 0 0 100vw;
    width: 100vw;
    height: 100%;
  
    /* base fallback */
    background-color: rgba(5, 0, 22, 0.95);
  
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
  }
  
  /* STEP 1 */
  .homeOverlay__bgFrame--step1{
    background-image:
      radial-gradient(800px 500px at 85% 20%, rgba(255, 0, 170, 0.14), transparent 60%),
      radial-gradient(900px 600px at 20% 70%, rgba(0, 255, 255, 0.10), transparent 65%),
      radial-gradient(700px 500px at 40% 10%, rgba(120, 70, 255, 0.10), transparent 60%),
      linear-gradient(180deg, rgba(5, 0, 22, 0.90), rgba(5, 0, 22, 0.70)),
      url("/home_bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
    .homeOverlay__bgFrame--step2{
    background-image:
      radial-gradient(800px 500px at 15% 20%, rgba(255, 0, 170, 0.14), transparent 60%),
      radial-gradient(900px 600px at 80% 70%, rgba(0, 255, 255, 0.10), transparent 65%),
      radial-gradient(700px 500px at 60% 10%, rgba(120, 70, 255, 0.10), transparent 60%),
      linear-gradient(180deg, rgba(5, 0, 22, 0.90), rgba(5, 0, 22, 0.70)),
      url("/home_bg_step2.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  /* allow fading viewport if you ever want to hand over to backplate */
  html[data-ag-reveal="1"] .homeOverlay__bgViewport{
    transition: opacity 450ms ease;
  }
  