/* ===============================
   PAGE BASE
   =============================== */
   .homePage {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: #1F1044;
  }
  
  /* content above background */
  .homePage > * {
    position: relative;
    z-index: 2;
  }
  
  .homePage__afterHeader {
    height: 0px;
  }
  
  /* ===============================
     BG SCENE (NATIVE SCROLL)
     =============================== */
  .bgScene {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    margin-top: -148px;
  }
  
  /* images stacked */
  .bgScene__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
  
  .bgScene__wire {
    opacity: 1;
  }
  
  .bgScene__tex{
    opacity: calc(var(--projectsBlend, 0) * var(--projectsBlend, 0));
    will-change: opacity;
    contain: paint;
  }
  .bgScene__wire{
    filter: saturate(0.9) contrast(0.95);
  }
  
  .bgScene__tex{
    filter: saturate(1.05) contrast(1.05);
  }
  
  /* ===============================
     STAGE / SECTIONS
     =============================== */
  .homeStage {
    position: relative;
    z-index: 1;
  }
  
  .homeStage[data-enabled="0"] {
    display: none;
  }
  
  .homeSection {
    margin: 0 auto;
    padding-top: 10%;
    scroll-margin-top: 90px;
    width: min(1200px, 92vw);
  }
  
  @media (min-width:1025px) {
    .bgScene {
      position: absolute;
      inset: 0;
      z-index: 0;
      pointer-events: none;
      overflow: hidden;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      margin-top: -158px;
    }
  }
  
  @media (max-width:1024px) {
    .bgScene {
      position: absolute;
      inset: 0;
      z-index: 0;
      pointer-events: none;
      overflow: hidden;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      margin-top: -158px;
    }
  }

  @media (max-width:768px) {
    .bgScene {
      position: absolute;
      inset: 0;
      z-index: 0;
      pointer-events: none;
      overflow: hidden;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      margin-top: -188px;
    }
    .homeOverlay {
      height: fit-content;
    }
    .homeOverlay__slide{
      padding-bottom: 30px;
    }
  }

  