.navbar-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    /* background: rgba(0, 0, 0, 0.5);  */
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 10px;
}

.logo-image {
    width: 50px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1050;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #33333378;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu.open {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.menu li {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    cursor: pointer;
    transition: all 0.3s ease;
    justify-content: center;
}

.menu li:hover {
    background: linear-gradient(90deg, rgba(255, 165, 0, 0.8), rgba(255, 94, 0, 0.8));
    box-shadow: inset 0 4px 15px rgba(238, 10, 10, 0.794);
    transform: translateY(-2px);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}


.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    color: #0b0a08;
}

.social-icons-navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 70px;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.social-icons-navbar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.social-icons-navbar a:hover {
    color: orange;
    transform: scale(1.3);
    background-color: #0b0a0868;
}