html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    width: 100vw;
}

.footer-container {
    background-color: #333; 
    color: white;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.logo {
    width: 50px; 
    transition: transform 0.3s ease;
}

.footer-container:hover {
    background-color: #555;
    color: #ffcc00;
}

.footer-container:hover .logo {
    content: url('/assets/picture.png');
    transform: scale(1.1);
}