.hoveredText-selectedPart {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    min-width: 100px;
}