#root {
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: #0C0222;
  font-family: Arial, sans-serif;
}

/* évite de styliser TOUS les boutons globalement */
button { font-family: inherit; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #0C0222;
  overflow-x: hidden;
}

.custom-canvas {
  display: block;
  width: 100vw;  
  height: 100vh; 
}

.dark-mode {
  margin: 0;
}

button {
  background: rgba(255, 119, 0, 0.8); 
  border: none; 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  outline: none; 
}


.button-hover-effect {
  background: rgba(255, 165, 0, 0.8); 
  border: none; 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button-hover-effect:hover {
  background: linear-gradient(90deg, rgba(255, 165, 0, 0.8), rgba(255, 94, 0, 0.8));
  box-shadow: inset 0 4px 15px rgba(238, 10, 10, 0.794);
  transform: translateY(2px);
}

html, body {
  overflow-x: hidden;
}






